
#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
  scroll-behavior: smooth;
}
.nav-box{
  justify-content: space-between;
}

.nav-item{
  margin: 10px;
  padding: 5px 15px 5px 15px;
  color: white;
}

.nav-item:hover{
  background-color: rgba(0, 0, 139, 0.5);
  color: yellow;
  padding: 5px 15px 5px 15px;
  border-radius: 10px;
}

section{
  height: 100%;
  width: 100%;
}

@keyframes scrollTestimonials {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-100% / 2));
  }
}